@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    background-color: #E6F7FA;
    color: #1B2A3A;
    font-size: 16px;
    font-family: 'Noto Sans JP';
    font-weight: 400;
    margin: 20px auto 0 auto;
    /* テキストの折り返し */
    overflow-wrap: anywhere;
    word-break: normal;
    line-break: strict;
}

a {
    text-decoration: none;
    color: #1B2A3A;
}

h1 {
    border-bottom: 1px solid #d8d8d8;
    font-weight: normal;
    font-size: 28px;
    margin: 0 0 20px 0;
}
h1 span {
    border-bottom: 5px solid #007B8F;
    padding: 0 8px 1px 5px;
}

/* pagetop */
.pagetop {
    position: fixed;
    right: 25px;
    bottom: 45px;
    z-index: 10000;
    width: 46px;
    height: 48px;
    display: none;
    cursor: pointer;
}

.pagetop i {
    background: #007B8F;
    border: 1px solid #007B8F;
    border-radius: 30px;
    text-align: center;
    line-height: 1;
    padding: 15px;
    color: #fff;
}

/* header */
.header {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    height: 110px;
}
.header_title {
    float: left;
    margin: 10px 25px;
}
.header_title a {
    display: block;
    font-size: 27px;
    padding: 5px 0;
}
.header_info {
    float: right;
    margin: 20px 25px 0 0;
    text-align: center;
}
.header_info div {
    font-size: 17px;
}
.header_info div a {
    margin: 0 0 0 5px;
}
.header_inquiry {
    background: #8FE388;
    color: #2E4053;
    display: block;
    border-radius: 8px;
    padding: 5px 30px;
    margin: 10px;
}
.header_inquiry:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: none;
  background: #6FCF97;
}
@media screen and (max-width: 600px) {
    .header {
        height: 160px;
    }
    .header_title {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    .header_info {
        float: none;
        text-align: center;
        margin: 10px auto 0 auto;
    }
    .header_info a {
        margin: 10px 35px;
    }
}

/* nav_pc */
.nav {
    margin: 15px auto 10px auto;
    background-color: #8FE388;
    padding: 7px 0 0 0;  /* nav上の影の幅 */
}

@media screen and (max-width: 768px) {
    .nav_pc {
        display: none;
    }
}
.nav_pc {
    background-color: #007B8F;
}
.nav_pc ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}
.nav_pc li {
    display: inline-block;
    font-size: 16px;
    border-right: 1px solid #8f9aad;
    padding: 0 30px;
}
.nav_pc .left {
    border-left: 1px solid #8f9aad;
}
.nav_pc .here a::after {
    width: 100%; /* 現在のページに対しては常に表示 */
}
.nav_pc li a {
    color: #ebe8e2;
    position: relative;
    display: block;
    padding: 0 15px;
}
.nav_pc li a::after {
  position: absolute;
  content: '';
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2.5px;
  background: #8FE388;
  transition: all 0.3s ease 0s;
}
.nav_pc li a:hover::after {
  width: 100%;
}

/* nav_mobile */
@media screen and (min-width: 769px) {
    .nav_mobile_trigger {
        display: none;
    }
}
.nav_mobile {
    background-color: #007B8F;
    display: none;
}
.nav_mobile ul {
    list-style: none;
    padding: 0 0 15px 0;
    margin: 0;
    text-align: center;
}
.nav_mobile li {
    font-size: 16px;
    border-bottom: 1px dashed #8f9aad;
    padding: 10px 0;
}
.nav_mobile li a {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: #ebe8e2;
}
.nav_mobile .top {
    border-top: 1px dashed #8f9aad;
}
.nav_mobile_trigger {
    background-color: #007B8F;
    color: #ebe8e2;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}
.nav_mobile_trigger i {
    display: inline-block;
    padding: 0 5px 0 0;
}

/* main */
.main {
    padding: 20px;
    font-weight: 400;
    line-height: 1.6;
    max-width: 1050px;
    margin: 0 auto;
}
.main img {
    width: 80%;
    height: auto;
    margin: 0px auto 20px auto;
    display: block;
    border: 10px solid rgba(179, 227, 234, 0.6);
    border-radius: 5px;
}
@media screen and (max-width: 769px) {
    .main img {
        width: 95%;
    }
}
.contact_form {
    margin: 0px 50px 20px 50px;
    width: 500px;
    position: relative;
}
@media screen and (max-width: 769px) {
    .contact_form {
        width: auto;
        margin: 0px 20px 20px 20px;
    }
}
.contact_form label {
    margin: 20px 0 5px 0;
    display: inline-block;
}
.contact_form input {
    border: 1px solid #007B8F;
    border-radius: 6px;
    font-size: 16px;
    width: 90%;
    padding: 7px;
    display: block
}
.contact_form input:focus {
    outline: 1px solid #007B8F;
}
.contact_form textarea {
    border: 1px solid #007B8F;
    border-radius: 6px;
    font-size: 16px;
    width: 90%;
    padding: 7px;
    height: 200px;
}
.contact_form textarea:focus {
    outline: 1px solid #007B8F;
}
.contact_form .submit {
    margin: 30px 0;
    background-color: #007B8F;
    width: 93%;
    color: #ebe8e2;
    font-size: 20px;
}
.contact_form .submit:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: none;
  background: #006272;
}
.contact_form .required {
    color: #E74C3C;
    padding: 0 0 0 5px;
}
.contact_form .error {
    width: 85%;
    color: #E74C3C;
    background-color: #FDECEA;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    display: none;
}
.contact_form .success {
    width: 85%;
    color: #1E8449;
    background-color: #C7EFD9;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    display: none;
}

/* footer */
.footer {
    padding: 30px 0 50px 0;
    text-align: center;
    color: #ebe8e2;
    background-color: #007B8F;
}
.footer span {
    font-size: 20px;
}