<div class="main">
    <h1><span>税務関係に関する豆知識</span></h1>
    <p>
        こちらでは、税務関係に関する豆知識を掲載しております。<br>
        定期的に更新していきますので、是非ご覧ください。
    </p>
    <ul class="article_tags">
        <li><a href="{{ "article" | relURL }}">全て</a></li>
        {{ range $tag, $pages := .Site.Taxonomies.tags }}
            <li><a href="{{ "tags/" | relURL }}{{ $tag }}">{{ $tag }}</a></li>
        {{ end }}
    </ul>
    <ul class="article_list">
        {{ range .Pages }}
            <li>
                <div class="article_list_tag_box">
                    {{ range .Params.tags }}
                        <a class="article_list_tag" href="{{ "tags/" | relURL }}{{.}}">{{ . }}</a>
                    {{ end }}
                    <span>{{ .Date.Format "2006/01/02" }}</span>
                </div>
                <a class="article_list_title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>
</div>