{{ define "main" }}
<div class="main">
    <h1><span>プロフィール</span></h1>
    <img src="{{ "images/profile.jpeg" | relURL }}" class="profile_image">
    <p>
        前田武志税理士事務所の代表、前田武志です。<br>
        （有限責任）監査法人トーマツにて監査業務のみならず、調査業務や経理指導等を幅広く経験した後、上場準備会社に転職し、監査法人の経験を生かして、上場準備業務や管理体制の確立、効率化の推進、買収調査・交渉等様々な業務に携わってきました。<br>
        これまでの経験を幅広いクライアントの発展に生かすべく、税理士事務所を開業しました。<br>
    </p>
    <h2><span>略&emsp;歴</span></h2>
    <table class="profile_history">
        <tr>
            <td>1994年</td>
            <td>神戸大学経営学部 卒業</td>
        </tr>
        <tr>
            <td>1995年</td>
            <td>公認会計士試験合格<br>（有限責任）監査法人トーマツ 入所</td>
        </tr>
        <tr>
            <td>2003年</td>
            <td>一般企業（バイオ、半導体、人材派遣、食肉加工卸、資産管理運用等々）に勤務し、経理部長、管理本部長、ＣＦＯ等の職位で活動</td>
        </tr>
        <tr>
            <td>2024年</td>
            <td>前田武志税理士事務所 開業</td>
        </tr>
    </table>
</div>
{{ end }}